In [ ]:
i = 1
while i<6:
  print(i)
  i+=1

1
2
3
4
5

In [ ]:
i=1
b=0
while i<11:
  b = b+i
  i+=1

print("Sum of 10 bumbers is", b)

Sum of 10 bumbers is 55

In [ ]:
a = int(input("Enter the number whose factorial you need:"))
b=1
while a>1:
  b = b*a
  a=a-1

print("Factorial of", a, "is", b)

Enter the number whose factorial you need:10
Factorial of 1 is 3628800

In [ ]:
a = input("Enter your string:")
b=0
for i in a:
  if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':b+=1
  else: continue

print(b)

Enter your string:ahem
2

In [18]:
#pattern using nested loop
r = int(input("Enter number of rows of your pattern:"))
i = 0
while i < r:
  i+=1
  c = 0
  print("")
  while c < i:
    print("*", end="")
    c+=1

Enter number of rows of your pattern:5

*
**
***
****
*****

In [22]:
#Generate a mltiplication table using neted loop.
n=int(input("Enter the number whose table you need:"))
b=int(input("Enter the end multiple number:"))
i=0
while(i<b):
  i+=1
  print(n,"*",i,"=",n*i)

Enter the number whose table you need:2
Enter the end multiple number:10
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20