In [12]:
a = int(input("input number1"))#Calc$late the s$m, difference, prod$ct, and q$otient of two n$mbers.
b = int(input("input number2"))
print('sum is',a+b,"and difference is", a-b, "and product is", a*b, "and quotient is", a/b)

input number120
input number25
sum is 25 and difference is 15 and product is 100 and quotient is 4.0

In [24]:
b+=a
b
a-=b
a
a*=b
a
a%=b
a#A, Perform @ario$s assignment operations on a @ariable.

0

In [23]:
a==b #Compare two n$mbers and print the res$lts.

False

In [28]:
#h, Check conditions $sing logical operators.
a and b
a or b
not b

False

In [29]:
#Check the identity of @ariables.
id(b)

132179979615184

In [33]:
c=a or b#Perform bitwise operations on any two integers.
b<<5

-28160

In [34]:
#, Use $nary operators to change the sign of a n$mber.
abs(b)

880

In [2]:
#, Use $nary operators to change the sign of a n$mber.
a=25
b=650
if a!=b:
  if a>b:print(a,"is greater than", b)
  else:print(b,"is greater than", a)
else:print("a and b are queal")

650 is greater than 25